
  html {
    font-size: 100%;
    background-color: #eeeeee;
  }
  .nav-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
  }
  .nav-links {
    font-size: 0.7rem;
  }
  #main-table {
  }
  main {
    display: flex;
    justify-content: center;
  }
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 100px 5px 15px 0px;
    border: 10px solid rgb(138, 138, 138);
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #9e9d9d;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #06113c;
    color: white;
  }
  .total {
    background-color: #878787 !important;
  }
  .footer{

    margin: 300px 5px 15px 0px;
  }